
@font-face {
    font-family: 'made-by-bears-demo';
    src: url('./made_by_bears_demo-webfont.eot');
    src: url('./made_by_bears_demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('./made_by_bears_demo-webfont.woff2') format('woff2'),
         url('./made_by_bears_demo-webfont.woff') format('woff'),
         url('./made_by_bears_demo-webfont.ttf') format('truetype'),
         url('./made_by_bears_demo-webfont.svg#made_by_bears_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source-sans-pro';
    src: url('./sourcesanspro-regular-webfont.eot');
    src: url('./sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('./sourcesanspro-regular-webfont.woff') format('woff'),
         url('./sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('./sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'source-sans-pro';
    src: url('./sourcesanspro-semibold-webfont.eot');
    src: url('./sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('./sourcesanspro-semibold-webfont.woff') format('woff'),
         url('./sourcesanspro-semibold-webfont.ttf') format('truetype'),
         url('./sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'source-sans-pro';
    src: url('./sourcesanspro-bold-webfont.eot');
    src: url('./sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('./sourcesanspro-bold-webfont.woff') format('woff'),
         url('./sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('./sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: 700;
    font-style: normal;

}

body,html{
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'source-sans-pro';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    color: #000;
    font-size: 24px;
    line-height: 1.5;
    background-color: #fff;
}

b,
strong {
    font-weight: 700;
}

p {
    margin: 0 0 30px 0;
}

p:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px 0;
    padding: 0;
    color: #000;
}
h1,
h2{
    font-family: 'made-by-bears-demo';
}
h3,
h4,
h5,
h6 {
    font-family: 'source-sans-pro';
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
    margin-bottom: 0;
}


/*font size*/


h1 {
    font-weight: 300;
    font-size: 96px;
    line-height: 1.1;
}
h2 {
    font-weight: 400;
    font-size: 65px;
    line-height: 1.6;
    text-transform: uppercase;
}
h3 {
    font-weight: 400;
    font-size: 113px;
    line-height: 1.2;
    text-transform: uppercase;
}
h4 {
    font-size: 30px;
    line-height: 1.2;
   font-weight: 600;
   text-transform: uppercase;
}
 h5{
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
}
h6 {
    font-size: 18px;
    font-weight: 400;
}


/* button */

.btn, input[type="submit"]{
    font-size: 22px;
    font-family: 'source-sans-pro';
    font-weight: 400;
    display: inline-block;
    color: #000;
    background-color: transparent;
    -webkit-box-shadow: 0;
            box-shadow: 0;
    text-transform: uppercase;
    padding: 15px 30px;
    border: 1px solid #000;
    border-radius: 50px;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    line-height: 1.2;
    position: relative;
}

.btn:hover{
    color: #fff;
    background-color: #000;
}
.btn:focus{-webkit-box-shadow: none;box-shadow: none;}

a {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    outline: none !important;
    color: #000;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

a:hover {
    color: #FFB800;
}

img {
    max-width: 100%;
}

/*input type*/
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    color: #000;
    height: 45px;
    padding: 0;
    outline: none !important;
    background: transparent;
    border-bottom: 1px solid #000;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-radius: 0px;
    font-size: 18px;
    text-transform: lowercase;
    font-weight: 400;
}

textarea {
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    border-radius: 0px;
    border-bottom: 1px solid #000;
    width: 100%;
    color: #000;
    height: 100px;
    outline: none !important;
    font-size: 18px;
    text-transform: lowercase;
    font-weight: 400;
    border-left: 0;
    border-top: 0;
    border-right: 0;
}

select {
    border-radius: 0px;
    border: 1px solid rgba(114, 109, 131, 0.3);
    width: 100%;
    padding: 20px 30px;
    background: url(./down-arow.svg) no-repeat calc(100% - 16px) center #fff;
    background-size: 14px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    color: #737373;
    font-size: 15px;
}

select::-ms-expand {
    display: none;
}

input[type="submit"] {
display: inline-block;
border: 1px solid transparent;
-webkit-appearance: none;
-moz-appearance: none;
     appearance: none;
-webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
    color: #FFB800;
    border: 1px solid transparent;
}
input:focus, select:focus, textarea:focus{border: 1px solid transparent; border-bottom: 1px solid #000;}

 ::-webkit-input-placeholder {
    font-weight: 400;
    color: #000;
}

 :-ms-input-placeholder {
    font-weight: 400;
    color: #000;
}

 ::-moz-placeholder {
    font-weight: 400;
    color: #000;
}

 :-moz-placeholder {
    font-weight: 400;
    color: #000;
}
/*end*/

/* images alignment for wordpress content pages */
.alignright {
    float: right;
    margin: 0 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 0 20px 20px 0;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    float: none;
    clear: both;
}



/* custom checkbox */
.form_input_check{margin-top: 10px;}
.form_input_check label {
    position: relative;
    margin: 0;
    padding-left: 30px;
    padding-right: 15px;
    display: inline-block;
}

.form_input_check label span {
    margin: 0;
    padding: 0;
    font-size: 12px;
color: #414F64;
font-weight: 700;
line-height: 20px;
}

.form_input_check label input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.form_input_check label input[type="checkbox"]+span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 20px;
    height: 18px;
    border: 0;
    background: rgba(114, 109, 131, 0.27);
    border-radius: 5px;
}

.form_input_check label input[type="checkbox"]+span::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 20px;
    height: 18px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: url(./tick.svg) no-repeat center center;
    background-size: 15px;
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
}

.form_input_check label input[type="checkbox"]:not(:checked)+span::after {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
        transform: scale(0);
}


/* .form_input_check input[type="checkbox"]:checked + span::before {
      
    } */

.form_input_check label input[type="checkbox"]:checked+span:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
        transform: scale(1);
}


/* custom radio */

.form_input_radio label {
    position: relative;
    margin: 0;
    padding-left: 30px;
    display: inline-block;
}

.form_input_radio label span {
    margin: 0;
    padding: 0;
}

.form_input_radio label input[type="radio"] {
    visibility: hidden;
    display: none;
}

.form_input_radio label input[type="radio"]+span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 22px;
    height: 22px;
    border: 2px solid #000000;
    border-radius: 100%;
    background: #fff;
}

.form_input_radio label input[type="radio"]+span::after {
    content: '';
    width: 12px;
    height: 12px;
    background: #4b0049;
    position: absolute;
    top: 6px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.form_input_radio label input[type="radio"]:not(:checked)+span::after {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
        transform: scale(0);
}


/* .form_input_radio input[type="radio"]:checked + span::before {
      
    } */

.form_input_radio label input[type="radio"]:checked+span:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
        transform: scale(1);
}


/* custom radio end */

/* back to top */

#scroll {
    position:fixed;
    right:20px;
    bottom:20px;
    cursor:pointer;
    width:55px;
    height:55px;
    background-color:#bdd653;
    display:none;
    border-radius:100%;
    line-height: 68px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    z-index: 9;
}
#scroll:hover{
    background: #88a725;
}
#scroll i{
    color: #fff;
    font-size: 44px;
    -webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
-webkit-transform: translateY(0);
-ms-transform: translateY(0);
    transform: translateY(0);
}

#scroll:hover i{
-webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
-webkit-transform: translateY(-6px);
-ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

/* navbar*/

.navbar-brand {
    padding: 0;
    margin: 0;
    width: 170px;
    display: inline-block;
}

.navbar {
    background: none;
    margin: 0;
    padding: 0;
    min-height: inherit;
    height: inherit;
    border: none;
    border-radius: 0;
}

.navbar-nav li {
    position: relative;
    list-style: none;
}

.navbar-nav>li {
    margin: 0 10px;
    padding: 15px 0;
    position: relative;
}

.navbar-nav>li:last-child {
    margin-right: 0;
}

.navbar-nav>li:first-child {
    margin-left: 0;
}

.navbar-nav>li>a {
    color: #000;
    font-size: 22px;
    position: relative;
    font-weight: 400;
    padding-right: 30px;
}

.navbar-nav>li>a:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    width: 20px;
    height: 15px;
    opacity: 1;
    background: url(./right-arrows.png) center no-repeat;
    background-size: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.navbar-nav>li.current-menu-item a:after,
.navbar-nav>li>a:hover:after{
    opacity: 1;
}
.navbar-nav>li.current-menu-item a,
.navbar-nav>li>a:hover{
    padding-left: 30px;
    padding-right: 0px;
}
/* .navbar-nav>li.current-menu-item a,
.navbar-nav>li>a:hover,
.navbar-nav>li.menu-item-has-children:hover>a {
    color: #6E35A2;
} */


/* navbar submenu*/

.sub-menu {
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    width: 140px;
    padding: 0;
}

.sub-menu>li>a {
    color: #000;
    display: block;
    width: 100%;
    padding: 6px 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
}

.sub-menu>li {
    width: 100%;
    display: block;
}

.sub-menu>li>a:hover,
.sub-menu>li.menu-item-has-children:hover>a,
.sub-menu>li.current-menu-item>a {
    background: #eab71e;
    color: #fff;
}



.navbar-nav>li:last-child>.sub-menu {
    right: 0;
    left: inherit;
    padding: 0;
}

/* 2nd level submenu */
.navbar-nav>li>.sub-menu .sub-menu {
    position: absolute;
    left: 100%;
    top: 0;
}


/* for push-menu */
.navbar-collapse .navbar-toggler{
    display: none;
}
#navoverlay{
       display: block;
       pointer-events: none;
       position: fixed;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       background: transparent;
       margin: 0;
       padding: 0 !important;
       z-index: 99;
       -webkit-transition: background-color 0.5s linear;
        -o-transition: background-color 0.5s linear;
        transition: background-color 0.5s linear;
}
/* for push-menu end*/

/* ======body css start====== */

.main-sec-wrap{
    position: relative;
}
.main-sec{
    position: relative;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    padding-top: 110px;
}
  
.footer{
    padding: 60px 0;
    background-color: #000;
    overflow: hidden;
    width: 100%;
    /* position: fixed;
    bottom: 0;
    z-index: 0; */
    height: 100vh;
}

.fixed_wrapper {
    position: relative;
    overflow: hidden;
    height: 100vh;
  }
  
  .fixed_target {
    bottom: -100vh;
  }
  .fixed,
  .fixed_target {
    position: absolute;
    top: -100vh;
    right: 0;
    left: 0;
  }
  .fixed {
    height: 100%;
  }
/* header*/
.main-head{
    padding: 5px 0; 
    width: 100%;
    z-index: 999;
    position: absolute;
    top: 0;
    background-color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.main-head.fixed{
    position: fixed;
    top: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.header-area{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.navigation{
    margin-left: auto;
}
.cart-btn{
    padding: 15px 60px;
}
.head-right{
    padding-left: 40px;
}
/*header end*/
/* big text section */
.sec-2{
    padding: 100px 0 50px 0;
}
.sec-2 h2{
    font-size: 247px;
    text-align: center;
    color: red;
}
/* big text section end */
/* product section*/
.product-sec{
    padding-top: 60px;
    overflow: hidden;
}
.product-sec .container-fluid{
    padding: 0;
    margin: 0;
}
.product-box{
    text-align: center;
}
.product-box figure{
    width: 100%;
    height: 460px;
    margin-bottom: 25px;
}
.product-box figure img{
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
.pro-btn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.pro-btn svg{
   margin-bottom: 25px;
   font-size: 20px;
}
.product-box:hover .pro-btn, .product-slider .slick-center .product-box .pro-btn{
    opacity: 1;
}
.product-slider .slick-slide{
    padding: 0 20px;
}
/* product section end */
/* product category section */
.categori-sec{
    padding-bottom: 100px;
}
.categori-box{
    min-height: 850px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 20px;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.categori-box .cate-img{
    width: 786px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -1;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.categori-box .number{
    color: #fff;
    font-size: 190px;
    line-height: 1;
    margin-bottom: 10px;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.categori-box .title{
    border-top: 1px solid #fff;
    padding: 20px 0 0 0;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   width: 100%;
   -webkit-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.categori-box .title h4{
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 32px;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: 400;
}
.categori-box .title svg{
    color: #fff;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.categori-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -10px;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.categori-col{
    width: calc(100% / 3);
    padding: 0 10px;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.categori-col.active{
    width: 52%;
}
/* product category section end*/
/* accordion section */
.accordion-sec{
    padding: 80px 0;
}
.start-sub, .end-sub{
    display: inline-block;
    text-align: center;
}
.start-sub h6, .end-sub h6{
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}
.pro-accordion{
    margin-bottom: 40px;
}
.accordion-button {
    padding: 40px 0;
}
.accordion-button:focus {
    border-color: unset;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.accordion-button:not(.collapsed) {
    -webkit-box-shadow: none;
            box-shadow: none;
}
.accordion-button:not(.collapsed) {
    color: #000;
    background-color: transparent;
}
.pro-accordion .accordion-item {
    border: 1px solid rgb(0, 0, 0);
    border-width:0px 0 1px 0;
    border-radius: 0 !important;
}
.acc-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.acc-head h2{
    font-size: 65px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "source-sans-pro";
}
.pro-accordion .accordion-button::after {
    display: none;
}
.acc-head .title{
    width: 48%;
}
.acc-head .ratting {
    width: 22%;
    font-size: 24px;
}
.acc-head .quantity{
    width: 20%;
}
.acc-head .color{
    width: 10%;
}
.acc-head .color span{
    width: 120px;
    height: 74px;
    border-radius: 50px;
    border: 7px solid #e5e5e5;
    display: block;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.accordion-button.collapsed .acc-head .color span{
    width: 74px;
    border-radius: 100%;
}
.acc-head h4, .acc-body-content h4, .acc-body-content li{
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
}
.acc-body-content ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 45px;
}
.pro-accordion .accordion-body{
    padding: 0 0 40px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.pro-accordion .accordion-body .left{
    width: 48%;
}
.pro-accordion .accordion-body .left img{
    height: 430px;
    -o-object-fit: contain;
       object-fit: contain;
}
.pro-accordion .accordion-body .right{
    width: 52%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.acc-body-content:first-child {
    width: 43%;
}
.acc-body-content:last-child {
    width: 57%;
}
.acc-body-content .btn{
    max-width: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* accordion section end */
/* World Mission section */
.world-mission-sec{
    padding: 65px 0;
    background-color: #f3f3f3;
}
.world-mission-sec .btn{
    margin-bottom: 20px;
    font-weight: 600;
}
.world-mission-sec h3 {
    font-weight: 400;
    font-size: 112px;
    line-height: 137px;
    text-transform: uppercase;
}
.world-mission-sec h3 span{
    position: relative;
    color: #fff;
    z-index: 1;
}
.world-mission-sec h3 span:after{
    content: '';
    display: block;
    width: 100%;
    height: 82%;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: -1;
}
/* World Mission section end*/

/*footer start*/




.ftr-frm{
    max-width: 1320px;
    margin: 0 auto;
    margin-bottom: 80px;
    position: relative;
}
.ftr-frm input[type="email"]{
    height: 83px;
    border-radius: 50px;
    border: 1px solid #ffffff;
    background-color: transparent;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    padding: 15px 80px;
    background: url(./email.png) left 35px center no-repeat;
    background-size: 25px;
}
.ftr-frm input[type="email"]::-webkit-input-placeholder{
    color: #fff;
    opacity: 1;
}
.ftr-frm input[type="email"]::-moz-placeholder{
    color: #fff;
    opacity: 1;
}
.ftr-frm input[type="email"]:-ms-input-placeholder{
    color: #fff;
    opacity: 1;
}
.ftr-frm input[type="email"]::-ms-input-placeholder{
    color: #fff;
    opacity: 1;
}
.ftr-frm input[type="email"]::placeholder{
    color: #fff;
    opacity: 1;
}
.ftr-frm input[type="submit"]{
    font-size: 0;
    display: inline-block;
    color: #fff;
    background-color: transparent;
    -webkit-box-shadow:none;
            box-shadow:none;
    padding: 15px;
    border: 0;
    border-radius: 0;
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 100%;
    background: url(./right-arrow-white.png) center center no-repeat;
    background-size: 10px;
}
.ftr-big-text h2{
    font-size: 16vh !important;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}
.ftr-content-wrap p, .ftr-content-wrap a{
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
}
.ftr-content-wrap ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.ftr-content-wrap a:hover{
    color: #7c7c7c;
}
.ftr-content-wrap{
    margin-bottom: 100px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.ftr-content-wrap .right{
    text-align: right;
}
.ftr-content-wrap .mid{
    text-align: center;
}
.footer .ftr-content-wrap:last-child{
    margin-bottom: 0;
}
.product-sec .fp-overflow{
    overflow-x: hidden;
}
/*footer end*/
/* About section1 start */
.about-sec1{
    padding: 40px 0 80px 0;
}
.breadcrumb a{
    text-decoration: underline !important;
    font-size: 22px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.breadcrumb{
    margin-bottom: 10px;
}
.breadcrumb a:hover{
    text-decoration: none !important;
}
.about-sec1 h3{
    font-size: 95px;
    line-height: 107px;
    font-weight: 400;
    margin-bottom: 60px;
}
.about-logo{
    text-align: center;
    margin-bottom: 90px;
}
.about-logo img{
    width: 100%;
    max-width: 850px;
}
.about-sec1 .bottom-desc h4{
    max-width: 220px;
}
.about-sec1 .bottom-desc p{
    text-transform: none;
}

/* About section1 end */
/* About section2 start */
.about-sec2{
    padding: 130px 0;
    background-color: #dddddd;
}
.about-sec2 h3{
    max-width: 800px;
    font-size: 120px;
    line-height: 133px;
    font-weight: 700;
}
/* About section2 end */
/* mission section start */
.mission-sec {
    padding: 30px 0 120px 0;
}
.mission-sec .f-img{
    text-align: center;
    margin-bottom: 120px;
}
.mission-sec .btm-con h3{
    font-size: 95px;
    line-height: 1.1;
    font-weight: 700;
}
.mission-sec .btm-con .top-p{
    max-width: 170px;
}
.right-top-p{
    margin-bottom: 150px;
    margin-left: auto;
    max-width: 200px;
    text-align: right;
}
.mission-sec .btm-con .btn {
    max-width: 345px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
}

/* mission section end */
 /* product section start */
.product-sec {
    padding: 50px 0 100px 0;
}
.product-cat-filter{
    margin-bottom: 60px;
}
.product-cat-filter ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.product-cat-filter ul li{
    padding: 0 15px;
}
.product-cat-filter ul li a{
    font-size: 90px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #b3b3b3;
    font-weight: 600;
}
.product-cat-filter ul li a:hover{
    color: #000;
}
.product-cat-filter ul li.active a{
    color: #000;
    text-decoration: underline !important;
}
.product-color-filter{
    margin-bottom: 130px;
}
.product-color-filter ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.product-color-filter ul li{
    padding: 0 25px;
}
.c-checkbox{
    position: relative;
    width: 345px;
    height: 60px;
}
.c-checkbox label{
    width: 100%;
    height: 100%;
    display: block;
    background-color: #000;
    border-radius: 50px;
    position: relative;
}
.c-checkbox.color1 label{
    background-color: #000;
}
.c-checkbox.color2 label{
    background-color: #958d7c;
}
.c-checkbox.color3 label{
    background-color: #f3f3f3;
}
.c-checkbox label:after{
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: #fff;
    position: absolute;
    left: 13px;
    top: 13px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
.c-checkbox input[type="checkbox"]{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}
.c-checkbox input[type="checkbox"]:checked ~ label:after{
    opacity: 1;
}
.product-color-filter ul li:first-child,
.product-cat-filter ul li:first-child{
    padding-left: 0;
}
.product-color-filter ul li:last-child,
.product-cat-filter ul li:last-child{
    padding-right: 0;
}
.product-list{
    margin-bottom: -70px;
}
.product-list .item{
    margin-bottom: 70px;
}
.product-boxx .f-img{
    height: 450px;
    position: relative;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
}
.product-boxx .f-img img{
    height: 100%;
    width: 100%;
    padding: 10%;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.product-sec.coffe .product-boxx .f-img img{
    padding: 0%;
}
.product-boxx .f-img .back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
}
.product-boxx .f-img:hover .back{
    opacity: 1;
}
.product-boxx .f-img:hover .front{
    opacity: 0;
}
.product-boxx .f-img:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(./hash-pattern_440x.webp) center center no-repeat;
    background-size: 100% 100%;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.product-boxx .f-img:hover:after{
    opacity: 1;
}
.product-boxx h4{
    margin-bottom: 20px;
} 
.product-boxx h4 a{
    font-size: 30px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
    text-align: left;
}
.product-boxx .btn{
    max-width: 345px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
 /* product section end  */
/* product gear section star  */
.c-checkbox.color4 label {
    background-color: #8a2529
}
.product-sec.coffe .product-cat-filter{
    margin-bottom: 100px;
}
.recent-product{
    padding-bottom: 150px;
}
/* product gear section end  */
/* faq section start */
.faq-sec{
    padding: 100px 0 150px 0;
}
.faq-sec .title{
    font-size: 128px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "source-sans-pro";
    margin-bottom: 50px;
}
.faq-nav{
    margin-bottom: 100px;
}
.faq-nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.faq-nav ul li{
    width: calc(100% / 4);
    padding: 0 15px;
}
.faq-nav ul li .btn{
    display: block;
    padding: 11px 30px;
}
.faq-nav ul li.active .btn{
   background-color: #000;
   color: #fff;
}
.faq-accordion .accordion-button{
    font-size: 48px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "source-sans-pro";
    padding: 50px 20px;
}
.faq-accordion .accordion-body p{
    font-size: 30px;
    color: #000;
    font-weight: 400;
    text-transform: none;
}
.faq-accordion .accordion-body{
    padding: 0 20px 40px 20px;
}
.faq-accordion .accordion-item {
    border: 0;
    border-bottom: 1px solid #9999;
}
.faq-accordion .accordion-button::after {
    width: 40px;
    height: 40px;
    content: "";
    background-image: url(./cross.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.faq-accordion .accordion-button:not(.collapsed)::after {
    background-image: url(./minus.png);
}


/* faq section end  */
/* product-details section start  */
.product-details-slider-sec{
    padding-left: calc((100% - 1395px) / 2);
    overflow: hidden;
}
.product-details-slider{
    width: calc(100% + 300px);
}
.product-details-slider .slick-slide{
    padding: 0 30px;
}
.product-details-slider .slick-track{
    margin: 0 -30px;
}
.product-details-sbox{
    width: 100%;
    height: 800px;
    border-radius: 48px;
    overflow: hidden;
}
.product-details-sbox a{
    display: block;
    height: 100%;
    width: 100%;
}
.product-details-sbox a img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.product-details-sec{
    padding: 50px 0 100px 0;
}
.product-thumb-slider .slick-slide img{
    width: 100%;
    height: 640px;
    -o-object-fit: contain;
       object-fit: contain;
}
.product-thumb-slider .slick-dots li button:before{
    display: none;
}
.product-thumb-slider .slick-dots li button{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: #bebebe;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.product-thumb-slider .slick-dots li.slick-active button{
    width: 70px;
}
.product-thumb-slider .slick-dots li {
    width: auto;
    height: auto;
}
.product-thumb-slider.slick-dotted.slick-slider {
    margin-bottom: 60px;
}
.product-thumb-slider .slick-dots {
    bottom: -60px;
}
.product-thumb-slider .slick-arrow{
    display: none;
}
.product-details-col{
    padding-top: 45px;
}
.product-details-col h4{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}
.product-details-col h3{
    font-size: 90px;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 15px;
}
.product-details-col .ratting{
    margin-bottom: 60px;
}
.product-details-col ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-bottom: 90px;
}
.product-details-col ul li{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 1.2;
}
.product-details-col .btn {
    max-width: 345px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
}
.product-details-col2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 80px;
}
.product-details-slider{
    margin-bottom: 115px;
}
.product-details-slider .slick-prev{
        left: 0;
        bottom: -124px;
        color: #000;
        top: unset;
        font-size: 0px;
        width: 30px;
        height: 30px;
}
.product-details-slider .slick-prev:before {
    content: '\f053';
    font-family: FontAwesome;
    color: #000;
    font-size: 30px;
    font-weight: 400;
}
.product-details-slider .slick-next{
    right: 28%;
    bottom: -124px;
    color: #000;
    top: unset;
    font-size: 0px;
    width: 30px;
    height: 30px;
}
.product-details-slider .slick-next:before {
content: '\f054';
font-family: FontAwesome;
color: #000;
font-size: 30px;
font-weight: 400;
}





/* product-details section end  */
.ftr-content-wrap {
    margin-bottom: 70px;
}
.ftr-frm {
    margin-bottom: 70px;
}



/* =====body css end===== */

/*desktop & big screen container size*/
@media (min-width: 576px) {
    .container2{
      max-width: 540px;
      margin: 0 auto;
    }
}
@media (min-width: 768px) {
    .container2{
      max-width: 720px;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 992px)  {
    .container2{
      max-width: 960px;
      margin: 0 auto;
    }
}
@media screen and (min-width: 1200px) {
    .container{
     max-width:1824px;
    }
   .container2{
        max-width: 1395px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1850px) {
    .container{
        padding-left: 50px;
        padding-right: 50px;
    }
    
}
@media only screen and (max-width: 1500px) and (min-width: 1200px){
    .container2{
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media (max-width: 1199px){

    .container {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 575px) {
    .container2, .container{
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;
    }
}


/*Responsive*/
@media(min-width:1025px) {
    /* navbar*/
    .navbar-nav .clickD {
        display: none;
    }
    .navbar-nav li.menu-item-has-children:hover>.sub-menu {
        display: block;
        
    }
}
@media (max-width: 1800px){
    .sec-2 h2, .ftr-big-text h2 {
        font-size: 200px;
    }
    .world-mission-sec h3 {
        font-size: 92px;
        line-height: 110px;
    }
    .product-box figure {
        height: 400px;
    }
    .about-sec1 h3 {
        font-size: 88px;
        line-height: 1.2;
    }
    .about-sec2 h3 {
        font-size: 110px;
        line-height: 120px;
    }
    .faq-accordion .accordion-button {
        font-size: 40px;
        padding: 40px 15px;
    }
    .faq-accordion .accordion-button::after {
        width: 30px;
        height: 30px;
        content: "";
    }
    .faq-sec .title {
        font-size: 110px;
    }
    .product-details-sbox{
        height: 630px;
    }
}
@media (max-width: 1440px){
    .logo a img{
        width: 230px;
    }
    .sec-2 h2, .ftr-big-text h2 {
        font-size: 175px;
    }
    .categori-box {
        min-height: 640px;
    }
    .world-mission-sec h3 {
        font-size: 75px;
        line-height: 90px;
    }
    .acc-head h2 {
        font-size: 50px;
    }
    .acc-head h4, .acc-body-content h4, .acc-body-content li {
        font-size: 22px;
    }
    .ftr-content-wrap p, .ftr-content-wrap a {
        font-size: 20px;
    }
    .btn, input[type="submit"] {
        font-size: 20px;
    }
    .about-sec1 h3 {
        font-size: 85px;
    }
    .about-logo img {
        max-width: 750px;
    }
    .mission-sec .btm-con h3 {
        font-size: 80px;
    }
    .right-top-p {
        margin-bottom: 108px;
    }
    .c-checkbox {
        position: relative;
        width: 300px;
    }
    .product-color-filter {
        margin-bottom: 80px;
    }
    .product-list .item {
        margin-bottom: 50px;
    }
    .product-list {
        margin-bottom: -50px;
    }
    .product-cat-filter ul li a {
        font-size: 75px;
    }
    .faq-sec .title {
        font-size: 100px;
    }
    .faq-nav {
        margin-bottom: 50px;
    }
    .faq-accordion .accordion-button {
        font-size: 32px;
        padding: 35px 15px;
    }
    .faq-accordion .accordion-button::after {
        width: 25px;
        height: 25px;
    }
    .faq-accordion .accordion-body p {
        font-size: 24px;
    }
    .product-details-slider-sec{
        padding-left: 50px;
    }
    .product-details-slider {
        width: calc(100% + 200px);
    }
    .product-details-sbox{
        height: 500px;
    }
    .ftr-content-wrap {
        margin-bottom: 50px;
    }
    .ftr-frm {
        margin-bottom: 50px;
    }
    .product-details-slider .slick-next {
        right: 17%;
    }

}
@media (max-width: 1199px){
    .sec-2 h2, .ftr-big-text h2 {
        font-size: 130px;
    }
    .product-sec {
        padding: 50px 0 50px 0;
    }
    .world-mission-sec h3 {
        font-size: 66px;
        line-height: 1.3;
    }
    .ftr-big-text h2 {
        font-size: 15vh !important;
    }
    .main-sec {
        padding-top: 93px;
    }
    .about-sec1 h3 {
        font-size: 66px;
    }
    .about-logo img {
        max-width: 600px;
    }
    .product-boxx .f-img {
        height: 330px;
    }
    .product-boxx h4 a {
        font-size: 24px;
    }
    .product-sec.coffe .product-cat-filter {
        margin-bottom: 60px;
    }
    .faq-sec {
        padding: 70px 0 120px 0;
    }
    .faq-sec .title {
        font-size: 80px;
    }
    .faq-accordion .accordion-button {
        font-size: 25px;
    }
    .mission-sec .f-img {
        margin-bottom: 120px;
        max-width: 50%;
        margin: 0 auto 70px auto;
    }
    .mission-sec .btm-con h3 {
        font-size: 64px;
    }
    .product-thumb-slider .slick-slide img {
        height: 600px;
    }
    .product-details-col h3 {
        font-size: 70px;
    }
    .product-details-col ul li {
        font-size: 25px;
    }
    .product-details-col h4 {
        font-size: 25px;
    }
    .product-details-slider {
        width: calc(100% + 120px);
    }

}
@media(max-width:1024px) {
    /* navbar*/
    .navbar-nav .clickD {
        position: absolute;
        right: 0;
        top: 17px;
        width: 20px;
        height: 20px;
        background: url(./sort-down.svg) center center no-repeat;
        display: block;
        background-size: 10px;
        cursor: pointer;
    }
    .navbar-nav .clickD.toggled{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .sub-menu > li.menu-item-has-children .clickD{
        top: 8px;
        right: 5px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .sub-menu > li.menu-item-has-children .clickD.toggled{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .navbar-nav >li.menu-item-has-children {
        padding-right: 20px;
    }
    .sub-menu >li.menu-item-has-children > a{
        padding-right: 20px;
    }
    
    .sub-menu.show {
        display: block;
    }

    .navbar-nav > li{
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .navbar-nav>li.current-menu-item>a:after,
    .navbar-nav>li>a:after,
    .navbar-nav>li.menu-item-has-children>a:after{
        opacity: 0;
    }

    .navbar-nav>li.current-menu-item>a:after,
    .navbar-nav>li>a:hover:after,
    .navbar-nav>li.menu-item-has-children:hover>a:after {
        opacity: 1;
    }
   

/* navbar end*/


}
@media (max-width: 991px) {
    /* navbar*/
    .navbar-toggler {
        position: relative;
        width: 33px;
        margin-left: auto;
        height: 28px;
        padding: 0;
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
    }
    .stick,
    .stick:after,
    .stick:before {
        width: 30px;
        height: 3px;
        background: #000;
        position: absolute;
        left: 0;
        top: auto;
        transition: all 0.6s;
        border-radius: 5px;
    }
    .stick:before {
        content: '';
        top: -10px;
        left: 0;
    }
    .stick:after {
        content: '';
        top: 10px;
        left: 0;
    }
    .stick.open {
        transform: translateX(-50px);
        background: transparent;
    }
    .stick.open:before {
        transform: rotate(45deg) translate(42px, -28px);
        left: 2px;
    }
    .stick.open:after {
        transform: rotate(-45deg) translate(42px, 28px);
        left: 2px;
    }

    .navbar-nav .clickD {
        top: 8px;
        right: 10px !important;
        -webkit-transform: rotate(0) !important;
        transform: rotate(0) !important;
    }
    .navbar-nav .clickD.toggled{
        -webkit-transform: rotate(180deg) !important;
        transform: rotate(180deg) !important;
    }
    .sub-menu,
    .navbar-nav>li>.sub-menu .sub-menu {
        position: relative;
        width: 100%;
        left: inherit;
        top: inherit;
        border: none;
        right: inherit;
    }
    .navbar-nav>li.menu-item-has-children {
        padding-right: 0;
    }
    .navbar-nav>li {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .navbar-nav li.menu-item-has-children > a{
        padding-right: 30px !important;
    }
    .navbar-nav>li>a {
        padding: 8px 20px 8px 20px;
        display: inline-block;
        width: auto;
        font-size: 35px;
    }
    .sub-menu>li>a {
        padding-left: 40px;
    }
    .sub-menu .sub-menu>li>a {
        padding-left: 60px;
    }
    .sub-menu .sub-menu .sub-menu>li>a {
        padding-left: 80px;
    }
    
    .navbar-nav>li>a:after{
        bottom: 0;
    }
    
 /* navbar end*/

/* push nav */
.logo{
    z-index: 999;
}
.navbar-collapse{
    background: #fff;
    position: fixed;
    top: 0;
    height: auto !important; 
    width: 100%;
    overflow-y: auto;
    transition: inherit !important;
    right: 0;
    margin: 0;
    display: block !important;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: transform 0.2s ease-in-out !important;
    transition: transform 0.2s ease-in-out !important;
    z-index: 100;
}
.navbar-collapse.show,
.navbar-collapse.collapsing{
    display: block !important;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: transform 0.2s ease-in-out !important;
    transition: transform 0.2s ease-in-out !important;
}
.navbar-collapse .navbar-nav{
    margin: 100px 0 0 !important;
    padding: 0 0 40px 0;
}
.navbar-collapse .navbar-toggler{
    display: block;
    right: 20px;
    top: 20px;
    position: absolute;
}
#navoverlay.open{

   background-color: rgba(0,0,0,0.4);
   pointer-events: all;
   -webkit-transition: background-color 0.5s linear;
   transition: background-color 0.5s linear;
}
body.open-nav,
html.open-nav{
    height: 100%;
    overflow: hidden !important;
}
/* push nav end */

body{
    font-size: 20px;
}
h1{
    font-size: 70px;
}
h4 {
    font-size: 25px;
}
.ftr-big-text h2 {
    font-size: 12vh !important;
}
.product-box figure {
    height: 300px;
}
.sec-2 {
    padding: 50px 0 50px 0;
}
.sec-2 h2, .ftr-big-text h2 {
    font-size: 98px;
}
.categori-wrap {
    flex-wrap: wrap;
}
.categori-col {
    width: 100% !important;
    height: 300px;
}
.categori-col.active {
    height: 500px;
}
.categori-box {
    min-height: 100%;
 }
 .world-mission-sec h3 {
    font-size: 60px;
 }
 .categori-box .number {
    font-size: 150px;
 }
 .acc-head {
    flex-wrap: wrap;
 }
 .acc-head .title {
    width: 100%;
    margin-bottom: 20px;
}
.acc-head .ratting {
    width: 40%;
  }
  .acc-head .quantity{
    width: 40%;
  }
  .acc-head .color{
    width: 20%;
  }
  .pro-accordion .accordion-body .left {
    width: 100%;
    margin-bottom: 20px;
  }
  .pro-accordion .accordion-body .right {
    width: 100%;
  }
  .acc-body-content{
    width: 50% !important;
  }
  .acc-body-content .btn {
    max-width: 250px;
  }
  .accordion-button {
    padding: 30px 0;
  }
  .accordion-button.collapsed .acc-head .color span {
    width: 50px;
    height: 50px;
    border: 5px solid #e5e5e5;
    border-radius: 50px;
  }
  .acc-head .color span {
    width: 120px;
    height: 50px;
    border-radius: 50px;
  }
  .footer {
    padding: 50px 0;
  }
  .ftr-frm input[type="email"] {
    height: 55px;
    font-size: 18px;
  }
  .ftr-frm {
    margin-bottom: 30px;
  }
  .ftr-content-wrap p, .ftr-content-wrap a {
    font-size: 18px;
  }
  .ftr-content-wrap ul {
    line-height: 1;
  }
  .navigation {
    margin-left: 30px;
    order: 3;
}
.head-right {
    padding-left: 0;
    order: 2;
    margin-left: auto;
}
.product-slider .slick-prev {
    left: 15px;
    top: 105%;
}
.product-slider .slick-next {
    right: 15px;
    top: 105%;
}
.product-slider .slick-next::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url(./right-arrows.png) center center no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.product-slider .slick-prev::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url(./right-arrows.png) center center no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-180deg);
}
.about-sec1 h3 {
    font-size: 50px;
}
.about-logo img {
    max-width: 500px;
}
.about-sec2 {
    padding: 70px 0;
}
.about-sec2 h3 {
    font-size: 90px;
    line-height: 90px;
}
.product-cat-filter ul li a {
    font-size: 50px;
}
.c-checkbox {
    width: 200px;
    height: 45px;
}
.c-checkbox label::after {
    width: 25px;
    height: 25px;
    left: 10px;
    top: 10px;
}
.product-cat-filter {
    margin-bottom: 40px;
}
.product-color-filter {
    margin-bottom: 40px;
}
.product-list .item {
    margin-bottom: 30px;
    width: 50%;
}
.product-list {
    margin-bottom: -30px;
}
.faq-sec {
    padding: 70px 0 70px 0;
}
.faq-sec .title {
    font-size: 70px;
}
.faq-nav {
    margin-bottom: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 10px;
}
.faq-nav ul {
    flex-wrap: nowrap;
    width: max-content;
}
.faq-nav ul li {
    width: auto;
}
.faq-accordion .accordion-body p {
    font-size: 20px;
}
.faq-accordion .accordion-button {
    font-size: 24px;
}
.mission-sec {
    padding: 30px 0 70px 0;
}
.mission-sec .btm-con h3 {
    font-size: 50px;
}
.mission-sec .btm-con .col-md-5, .mission-sec .col-md-7{
    width: 100%;
}
.product-thumb-slider .slick-slide img {
    height: 540px;
}
.product-thumb-slider .slick-dots {
    bottom: -30px;
}
.product-details-col h3 {
    font-size: 50px;
}
.product-details-col ul li {
    font-size: 20px;
}
.product-details-col h4 {
    font-size: 20px;
}
.product-details-sec {
    padding: 50px 0 70px 0;
}
.product-details-sbox {
    height: 400px;
}
.product-details-slider {
    width: calc(100% + 100px);
    margin-bottom: 80px;
}
.product-details-slider .slick-prev {
    bottom: -80px;
}
.product-details-slider .slick-next {
    bottom: -80px;
}
.recent-product {
    padding-bottom: 70px;
}  
.product-details-slider-sec {
    padding-left: 0;
}
.product-details-slider .slick-next {
    right: 12%;
  }
}
@media (max-width: 767px){
    .sec-2 h2, .ftr-big-text h2 {
        font-size: 73px;
    }
    .acc-body-content li {
        font-size: 20px;
      }
      .acc-head h4, .acc-body-content h4, .acc-body-content li {
        font-size: 20px;
      }
    .categori-box .number {
        font-size: 120px;
    }
    .categori-col {
        width: 100% !important;
        height: 250px;
    }
    .categori-col.active {
        height: 400px;
    }
    .categori-sec {
        padding-bottom: 60px;
    }
    .world-mission-sec h3 {
        font-size: 50px;
    }
    .start-sub, .end-sub {
        display: block;
        text-align: center;
    }
    .accordion-sec {
        padding: 60px 0;
    }
    .ftr-big-text h2 {
        font-size: 12.5vw !important;
    }
    .ftr-content-wrap .left{
        text-align: center;
        margin-bottom: 20px;
    }
    .ftr-content-wrap .left br{
        display: none;
    }
    .ftr-content-wrap .right {
        width: 50%;
    }
    .ftr-content-wrap .mid {
        text-align: left;
        width: 50%;
    }
    .cart-btn {
        padding: 12px 50px;
    }
    .logo a img {
        width: 200px;
    }
    .main-sec {
        padding-top: 82px;
    }
    .footer .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .about-sec1 .bottom-desc h4 {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .product-cat-filter ul li a {
        font-size: 40px;
    }
    .c-checkbox {
        width: 140px;
    }
    .product-boxx .f-img {
        height: 270px;
    }
    .product-boxx h4 a {
        font-size: 20px;
    }
    .mission-sec .btm-con .top-p {
        max-width: 100%;
    }
    .mission-sec .btm-con .text-end{
        text-align: left !important;
    }
    .right-top-p {
        margin-bottom: 30px;
        max-width: 100%;
        text-align: left;
    }
    .mission-sec .btm-con .btn {
        margin-left: 0;
      }
      .product-details-col {
        padding-top: 0;
      }
      .product-details-col .ratting {
        margin-bottom: 20px;
      }
      .product-details-col ul {
        margin-bottom: 20px;
      }
      .product-details-col2 {
        padding-bottom: 0;
      }
      .product-details-col ul {
        margin-bottom: 0;
      }
      .product-details-slider {
        width: calc(100% + 400px);
      }
      .product-details-slider .slick-slide {
        padding: 0 10px;
      }
      .product-details-slider .slick-track{
        margin: 0 -10px;
      }
      .product-details-slider .slick-next {
        right: 42%;
      }

}
@media (max-width: 575px) {
    body {
        font-size: 18px;
    }
    .sec-2 h2, .ftr-big-text h2 {
        font-size: 61px;
    }
    .world-mission-sec h3 {
        font-size: 50px;
    }
    .acc-head h2 {
        font-size: 40px;
    }
    .acc-head .ratting {
        font-size: 20px;
    }
    .acc-head .quantity {
        text-align: center;
    }
    .acc-head .color span {
        width: 85px;
    }
    .cart-btn {
        padding: 10px 30px;
        font-size: 18px;
    }
    .logo a img {
        width: 180px;
    }
    .main-sec {
        padding-top: 75px;
    }
    .about-sec1 h3 {
        font-size: 38px;
        margin-bottom: 30px;
    }
    .about-logo {
        margin-bottom: 50px;
    }
    .about-sec1 {
        padding: 40px 0 55px 0;
    }
    .about-sec2 h3 {
        font-size: 70px;
        line-height: 70px;
    }
    .about-sec2 {
        padding: 55px 0;
    }
    .product-color-filter ul li {
        padding: 0 10px;
    }
    .product-list .item {
        width: 100%;
    }
    .product-boxx .f-img {
        height: 450px;
     }
     .product-boxx h4 a {
        font-size: 25px;
    }
    .product-boxx .btn {
        max-width: 100%;
    }
    .navbar-nav > li > a {
        font-size: 35px;
    }
    .faq-sec {
        padding: 50px 0 50px 0;
    }
    .faq-accordion .accordion-button {
        font-size: 20px;
    }
    .faq-accordion .accordion-body p {
        font-size: 18px;
    }
    .faq-nav ul li {
        padding: 0 5px;
    }
    .faq-nav ul {
        margin: 0 -5px;
    }
    .product-thumb-slider .slick-slide img {
        height: 450px;
    }
    .product-details-slider .slick-next {
        right: 47%;
      }
}
@media (max-width: 479px) {
    body {
        font-size: 16px;
    }
    p {
        margin: 0 0 20px 0;
    }
    .logo a img {
        width: 160px;
    }
    .world-mission-sec h3 {
        font-size: 38px;
    }
    .sec-2 h2, .ftr-big-text h2 {
        font-size: 47px;
    }
    .navigation {
        margin-left: 15px;
    }
    .cart-btn {
        font-size: 16px;
    }
    .main-sec {
        padding-top: 67px;
    }
    .about-sec1 h3 {
        font-size: 30px;
    }
    .about-sec2 h3 {
        font-size: 55px;
        line-height: 55px;
    }
    .product-cat-filter ul {
        flex-direction: column;
        align-items: center;
    }
    .product-cat-filter ul li{
        padding: 0;
    }
    .c-checkbox {
        width: 50px;
        height: 50px;
    }
    .c-checkbox label::after {
        width: 30px;
        height: 30px;
        left: 10px;
        top: 10px;
    }
    .product-cat-filter {
        margin-bottom: 30px;
    }
    .product-color-filter {
        margin-bottom: 30px;
    }
    .product-boxx .f-img {
        height: 380px;
    }
    .product-sec.coffe .product-cat-filter {
        margin-bottom: 30px;
    }
    .faq-sec .title {
        font-size: 55px;
        margin-bottom: 35px;
    }
    .faq-accordion .accordion-button {
        padding: 25px 10px;
        font-size: 18px;
    }
    .faq-accordion .accordion-body {
        padding: 0 10px 30px 10px;
    }
    .faq-accordion .accordion-body p {
        font-size: 16px;
    }
    .faq-accordion .accordion-button::after {
        width: 16px;
        height: 16px;
    }
    .btn, input[type="submit"] {
        font-size: 18px;
    }
    .mission-sec .f-img {
        max-width: 100%;
        margin: 0 auto 40px auto;
    }
    .mission-sec .btm-con h3 {
        font-size: 40px;
    }
    .mission-sec {
        padding: 30px 0 50px 0;
    }
    .product-details-slider {
        width: calc(100% + 300px);
      }
}


